body {
  font-family: VCR,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

#albums {
  position: relative;
  top: 65px;
}

.album-list-padding {
  padding: 0 15px;
}

#songs {
  position: relative;
}

#songs .search-container {
  margin: auto;
  min-height: 100px;
}

.results-container {
  max-width: 85%;
  margin: auto;
}

#songs .search{
  max-width: 85%;
  margin: auto;
}

#results {
  position: relative;
  top: 65px;
}

md-toolbar {
  position: fixed;
  z-index: 5;
  background-color: #1c1c1c !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.left-nav {
  /*left: 15px;*/
}

.container-fluid-inner {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

:focus {
  outline: none;
}

md-sidenav md-content {
  top: 65px;
}

md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
  background-color: rgba(33,33,33,0.2);
}

.md-chips .md-chip .md-chip-remove md-icon {
  top: 27%;
}

.mainBody{
  position: fixed;
  bottom: 0;
  top: 70px;
  width: 100%;
  z-index: 5;
}

.md-chips {
  font-family: VCR,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 10px;
  text-transform: uppercase;
}
md-chips.md-default-theme .md-chips, md-chips .md-chips {
  box-shadow: none;
}

.warm-font {
  color: rgb(255,87,34);
}

a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
  color: #7d7d7d;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input {
   border-color: rgb(255,87,34);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label{
  color: rgb(255,87,34);
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
  color: rgb(255,87,34);
}

md-checkbox.md-default-theme.md-checked ._md-icon, md-checkbox.md-checked ._md-icon {
  background-color: rgb(255,87,34);
}