<div class="md-whiteframe-z3">
    <md-content layout="column">
        <div flex="100" ng-repeat="(album,value) in albumSongHash">
            <div flex>
            <md-button ng-click="toggleSong(album)" class="album-btn-spacing md-warn green" aria-label="Use Android">
                {{album}}
            </md-button>
            </div>

            <div flex class="song-list" ng-show="value.selected">
                <md-card>
                    <md-card-content>
                        <md-list-item ng-repeat="song in value.songs" role="listitem"
                                      class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                            <div class="md-no-style md-list-item-inner">
                                <p> {{song.label}} </p>
                                <md-checkbox ng-click="processSelection(song)"
                                        class="md-secondary"
                                        ng-model="song.selected" aria-label="Toggle  Pepperoni" role="checkbox"
                                        tabindex="0">
                                </md-checkbox>
                                <div class="md-ripple-container"></div>
                            </div>
                        </md-list-item>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
</div>
