<div id="songs" class="md-whiteframe-z3 max-height">
    <md-content>

        <div layout="row" class="search-container">
            <md-input-container flex class="search">
                <label>FIND YOUR FAV YEEZY JOINT</label>
                <input ng-model="searchText">
            </md-input-container>
        </div>

        <div layout="column" flex="100" ng-show="searchText.length>0" class="searchResults results-container">

            <md-list-item ng-repeat="song in all_songs | filter:searchText" role="listitem"
                          class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                <div class="song-item md-no-style md-list-item-inner">
                    <p> {{song.title}} </p>
                    <md-checkbox ng-click="processSelection(song)"
                                 class="md-secondary"
                                 ng-model="song.selected" aria-label="Toggle  Pepperoni" role="checkbox"
                                 tabindex="0">
                    </md-checkbox>
                    <div class="md-ripple-container"></div>
                </div>
            </md-list-item>
        </div>
    </md-content>

</div>